
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: sans-serif;
  position: relative;
}

.top-navbar {
  height: 47px;
  top: 0;
  position: sticky;
  background: white;
  border-bottom: 3px solid orange;
  z-index: 2;
}

.logo {
  float: left;
  height: 47px;
}

.top-navbar input[type="text"] {
  margin-top: 9px;
  margin-left: 25px;
  border: 1px solid orange;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none;
  width: 50%;
  height: 30px;
  margin-bottom: 9px;
}

.input-group-text {
  background: orange;
  border: 5px solid orange;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.search-box {
  display: inline-flex;
}
.fa-search {
  color: white;
}
.menu-bar {
  height: 57px;
  float: right;
}

.menu-bar ul {
  display: inline-flex;
  float: right;
}

.menu-bar ul li {
  border-left: 1px solid white;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: orange;
  cursor: pointer;
}

.menu-bar ul li a {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.fa-shopping-basket {
  margin-right: 5px;
}
@media only screen and (max-width: 980px) {
  .top-navbar {
    height: 118px;
    border-bottom: 0;
  }
  .search-box {
    width: 100%;
  }
  .menu-bar {
    width: 100%;
  }
  .menu-bar ul {
    margin: 10px 0;
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
  }
}

/*---------drop menue----------*/

.navbar2 {
  top:55px;
  position:sticky;
  overflow: hidden;
  background-color: white;
  opacity:1;
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  z-index:2;
  
}

.navbar2 a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar2 a:hover{
  background-color: red;
}


/*side navigation*/
.sidenav {
  padding: 10px;
  padding-bottom: 100px;
  display: block;
  height: 100vh;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 104px;
  left: 0;
  background-color: rgba(246, 132, 18, 0.1);
  overflow-y: scroll;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sidenav label {
  display: block;
  padding-top: 5px;
}

.sidenav > .storage {
  margin-bottom: 120px;
}

.price input[type="numeric"] {
  width: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/*product card*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  flex: 33.33%;
  padding: 5px;
  margin-bottom: 25px;
}

.card > h2 {
  height: fit-content;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  /* overflow-x: hidden; */
}

.p.e {
  color: black;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #611209;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card img {
  height: 300px;
  width: 200px;
}

